*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.header{
    background-size: cover;
    min-height: 100vh;
}
.navbar img{
    width: 2em;
}
a, body{
    color: white;
}
h2, footer{
    text-align: center;

}
.card{
    height: 100%;
}
.subtitulo{
    border-bottom: 4px;
    border-width: 3px;
    border-color: #ffffff;

}
.card-img-top{
    height: 150px;
}